.List-table {
   
    width: 100%;
    border-collapse: collapse;
  }
  
  .List-table th,
  .List-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .List-table th {
    background-color: #f2f2f2;
  }
  
  .List-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .List-table tbody tr:hover {
    background-color: #ddd;
  }
  
  .List-table img {
    max-width: 50px;
    max-height: 50px;
  }
  
  .table-container {
    display: flex;
    justify-content: center; /* Horizontal centering */
    align-items: center; /* Vertical centering */
    height: 10px;
    position: relative;

  }