<div mat-dialog-title>
    <h1>Creating New User</h1>
</div>

<div mat-dialog-content class="content">
    <div class="row">
    <mat-form-field appearance="outline">
        <mat-label>First Name </mat-label>
              <input matInput type="text" placeholder="Ex. Andree ">
            </mat-form-field>
         <mat-form-field appearance="outline">
        <mat-label>Last Name </mat-label>
              <input matInput placeholder="Ex. Arpon">
         </mat-form-field>
     </div>
</div>
<div mat-dialog-actions>
    <button mat-raised-button class ="Green-Button" > Add </button>
    <button mat-raised-button color ="warn"> Cancel</button>
</div>