.mat-cell {
  width: 100px; /* Set your desired width */
}
.mat-cell.first_name {
  width: 150px; /* Set width for the 'first_name' column */
}

.mat-cell.last_name {
  width: 200px; /* Set width for the 'last_name' column */
}

.mat-cell {
  padding: 20px; /* Increase padding to increase cell height */
}
img {
  width: 50px; /* Set the width of the images */
  height: 50px; /* Set the height of the images */
}