.mdc-data-table__table {
  display: flex;
  flex-direction: column;
  min-width: 60%;
  border: 0;
  margin: 10px 20px;
}


img{
  width: 50px;
  border-radius: 50%;
  margin: 0 auto;
  padding-top: 5px;

}