    h1{
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 40px;
        font-weight: bold ;
        padding: 10px;
    }

    .content{ 
        padding-top: 20px;

    }

    .row{
        display: flex;
        gap: 10px;
    }

    .row-2 .mat-mdc-form-field{
        width: 100%;
    }
